/* Import font-family */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');


/* Colors */
:root {
    --yellow: #FEE715;
    --yellow-light: #fef280;
    --navy: #101820;
}


/* Reset default style */
* {
    padding: 0;
    margin: 0;
}


/* App colors and font */
body {
    color: var(--navy);
    background-color: var(--navy);
    font-family: 'Open Sans', sans-serif;
}


/* Document scrollbar style */
.modal {
    overflow-y: scroll;
    scrollbar-color: var(--yellow) transparent;
    scrollbar-width: thin;
}

.modal::-webkit-scrollbar {
    width: 8px;
}

.modal::-webkit-scrollbar-thumb {
    background: var(--yellow);
}

.modal::-webkit-scrollbar-track {
    background: transparent;
}


/* Input fields style */
span {
    width: 20px;
}

textarea, input {
    outline: none;
    resize: none;
    overflow: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    height: 25px;
}


/* Buttons */
button {
    background-color: var(--yellow) !important;
    color: var(--navy) !important;
}

@keyframes pulse {
    0% { 
        transform: scale(.95);
    }
    80% {
        transform: scale(1.05);
        box-shadow: 0 0 0 20px rgba(254, 231, 21, 0);
    }
    100% {
        transform: scale(.95);
        box-shadow: 0 0 0 0 rgba(254, 231, 21, 0);
    }
}

.main-btn {
    width: 100px;   
    height: 100px;
    font-size: 30px;
    border: none;
    line-height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(254, 231, 21, .5);
    animation: pulse 1.2s infinite;
}

.main-btn:hover {
    animation: none;
}


/* Form header style */
.modal-header {
    background-color: var(--yellow);
}


/* Autocomplete list style */
ul {
    position: absolute;
    display: none;
    list-style: none;
    margin-top: 25px;
    max-height: 300px;
    padding: 2px 5px;
}

.autocomplete-item {
    cursor: pointer;
}

.autocomplete-item:hover {
    background-color: var(--yellow-light);
}


/* List scrollbar style */
.scrollbar {
    overflow-y: scroll;
    scrollbar-color: var(--navy) transparent;
    scrollbar-width: thin;
}

.scrollbar::-webkit-scrollbar {
    width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: var(--navy);
}

.scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
